


.header-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   text-align: center;
   background-color: black;
   
  
}
.header-menu-item{
 
  margin: 15px 5px ;
  color: white;
}
.header-menu-item-box{ 
  margin-top: 25px;
}
button{
  
  border-radius: 5px;
  border: none;
  height: 25px;
  
  font-weight: bold;

}
.header-menu {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   
   text-align: center;
  color: white;
  
}
::placeholder {
  color: white;
  padding: 5px;
}
